@media only screen and (min-width: 1141px) {
/*-----BODY -----*/
body {}

/*-----WRAPPER -----*/
#wrapper {}

/*-----CONTAINER -----*/

/*-----HEADER -----*/
header {
	max-width: 1140px;
	margin: 0 auto;
}




/*-----NAVigation -----*/


/*-----CONTENT -----*/
#mainLogo{
	width: 25%;
}


/*----- FOOTER -----*/

}
