/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  background-image: url("/images/Background (middle section).svg");
  background-color: #181818;
  height: 6700px;
  background-repeat-y: no-repeat;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----BODY -----*/
body {
  font-family: "Cabin", sans-serif;
  max-width: 1280px;
  margin: auto;
  color: white;
}

/*-----CONTAINER -----*/
/*-----HEADER -----*/
#headerWrapper {
  min-width: 320px;
}

/*-----NAVigation -----*/
/*-----CONTENT -----*/
.container {
  margin: auto;
  max-width: 1280px;
  min-width: 1280px;
  height: 710px;
  position: relative;
}

#mainLogo, #logo {
  width: 24%;
  position: absolute;
  visibility: hidden;
}

#touching {
  position: absolute;
  visibility: hidden;
  color: white;
  font-size: 40px;
  top: 200px;
  left: 250px;
}

#logo {
  width: 70%;
  left: 150px;
}

#thoughts {
  position: absolute;
  left: 320px;
  top: 30px;
  visibility: hidden;
  width: 640px;
}

#freeBubble1, #premiumBubble1, #freeBubble6, #premiumBubble6, #freeBubble5, #premiumBubble5, #freeBubble4, #premiumBubble4, #freeBubble3, #premiumBubble3, #freeBubble2, #premiumBubble2 {
  position: absolute;
  width: 95px;
  left: 340px;
  top: 70px;
  visibility: hidden;
}

#freeBubble2, #premiumBubble2 {
  left: 445px;
}

#freeBubble3, #premiumBubble3 {
  left: 550px;
}

#freeBubble4, #premiumBubble4 {
  left: 655px;
}

#freeBubble5, #premiumBubble5 {
  left: 760px;
}

#freeBubble6, #premiumBubble6 {
  left: 865px;
}

#premiumBubble1 {
  top: 130px;
}

#premiumBubble2 {
  top: 130px;
}

#premiumBubble3 {
  top: 130px;
}

#premiumBubble4 {
  top: 130px;
}

#premiumBubble5 {
  top: 130px;
}

#premiumBubble6 {
  top: 130px;
}

#graphs {
  width: 50%;
  position: absolute;
  top: 185px;
  left: 320px;
  visibility: hidden;
}

#events {
  position: absolute;
  left: 320px;
  top: 430px;
  visibility: hidden;
  width: 640px;
}

#createPlaylist, #sharePlaylist, #renamePlaylist, #deleteSong, #rearrangeSong, #addSong {
  width: 122px;
  position: absolute;
  left: 320px;
  top: 465px;
  visibility: hidden;
}

#addSong {
  left: 423px;
}

#rearrangeSong {
  left: 528px;
}

#deleteSong {
  left: 629px;
}

#renamePlaylist {
  left: 734px;
}

#sharePlaylist {
  left: 837px;
}

#gestures {
  position: absolute;
  left: 320px;
  top: 510px;
  visibility: hidden;
  width: 640px;
}

#freeGesture1, #premiumGesture1, #freeGesture6, #premiumGesture6, #freeGesture5, #premiumGesture5, #freeGesture4, #premiumGesture4, #freeGesture3, #premiumGesture3, #freeGesture2, #premiumGesture2 {
  width: 25px;
  position: absolute;
  left: 371px;
  top: 540px;
  visibility: hidden;
}

#freeGesture2, #premiumGesture2 {
  left: 453px;
  width: 80px;
}

#freeGesture3, #premiumGesture3 {
  left: 563px;
  width: 80px;
}

#freeGesture4, #premiumGesture4 {
  left: 685px;
}

#freeGesture5, #premiumGesture5 {
  left: 789px;
}

#freeGesture6, #premiumGesture6 {
  left: 875px;
  width: 80px;
}

#premiumGesture1 {
  top: 620px;
}

#premiumGesture2 {
  top: 620px;
  width: 25px;
  left: 475px;
}

#premiumGesture3 {
  top: 620px;
  width: 80px;
}

#premiumGesture4 {
  top: 620px;
}

#premiumGesture5 {
  top: 620px;
}

#premiumGesture6 {
  top: 620px;
  width: 80px;
}

#insights {
  width: 24%;
  position: absolute;
  right: 0px;
  visibility: hidden;
}

#bottomBar {
  width: 100%;
  position: absolute;
  top: 705px;
  visibility: hidden;
}

/*--- Scroll Sections ---*/
#introSection, #gestureCatalog, #conceptModel2, #conceptModel, #studyGoals, #gestureProcess, #gestureIntro {
  color: white;
  text-align: center;
  visibility: hidden;
  margin-top: 200px;
}
#introSection h1, #gestureCatalog h1, #conceptModel2 h1, #conceptModel h1, #studyGoals h1, #gestureProcess h1, #gestureIntro h1 {
  font-size: 40px;
}

#introText, #gestureCatalogText, #conceptModelText2, #conceptModelText, #studyGoalsText, #gestureProcessText, #gestureIntroText {
  visibility: hidden;
  margin: auto;
  width: 60%;
  margin-top: 100px;
}

.gestureLists {
  padding-left: 20px;
  list-style-type: circle;
}

#gestureCatalogImg {
  margin-top: 20px;
  float: left;
  width: 50%;
}

#gestureCatalogJpg {
  margin-top: 20px;
  float: right;
  width: 50%;
}

/*----- FOOTER -----*/
footer {
  clear: both;
  text-align: center;
  padding: 1em;
}

@media only screen and (min-width: 1141px) {
  /*-----BODY -----*/
  /*-----WRAPPER -----*/
  /*-----CONTAINER -----*/
  /*-----HEADER -----*/
  header {
    max-width: 1140px;
    margin: 0 auto;
  }

  /*-----NAVigation -----*/
  /*-----CONTENT -----*/
  /*----- FOOTER -----*/
}
