/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
	-webkit-text-size-adjust: none; 
	overflow: hidden;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
   background-color: #282828;
	font-family: $font-body;
	max-width: 1280px;
}


/*-----CONTAINER -----*/
#container {
	background-color: black;   /*becomes the nav background color*/
	min-width: 320px;
}

/*-----HEADER -----*/
#headerWrapper {
	min-width: 320px;
}
/*-----NAVigation -----*/



/*-----CONTENT -----*/

.container {
	margin: auto;
	max-width: 1280px;
	min-width: 1280px;
	position: relative;
}

#mainLogo {
   width: 24%;
	position: absolute;
	visibility: hidden;
}

#thoughts {
	color: white;
	position: absolute;
	left: 315px;
	top: 15px;
	visibility: hidden;
}

#freeBubble1 {
	position: absolute;
	width: 80px;
	left: 335px;
	top: 50px;
	visibility: hidden;
}

#freeBubble2 {
	@extend #freeBubble1;
	left: 440px;
}

#freeBubble3 {
	@extend #freeBubble1;
	left: 545px;
}

#freeBubble4 {
	@extend #freeBubble1;
	left: 650px;
}

#freeBubble5 {
	@extend #freeBubble1;
	left: 755px;
}

#freeBubble6 {
	@extend #freeBubble1;
	left: 860px;
}

#premiumBubble1 {
	@extend #freeBubble1;
   top: 110px;
}

#premiumBubble2 {
	@extend #freeBubble2;
   top: 110px;
}

#premiumBubble3 {
	@extend #freeBubble3;
   top: 110px;
}

#premiumBubble4 {
	@extend #freeBubble4;
   top: 110px;
}

#premiumBubble5 {
	@extend #freeBubble5;
   top: 110px;
}

#premiumBubble6 {
	@extend #freeBubble6;
   top: 110px;
}

#graphs {
	width: 50%;
	position: absolute;
	top: 165px;
	left: 315px;
	visibility: hidden;
}

#events {
	color: white;
	position: absolute;
	left: 315px;
	top: 395px;
	visibility: hidden;
}

#eventsChart {
	width: 49%;
	color: white;
	position: absolute;
	left: 315px;
	top: 415px;
	visibility: hidden;
}

#gestures {
	color: white;
	position: absolute;
	left: 315px;
	top: 475px;
	visibility: hidden;
}

#gesturesImg {
	width: 49%;
	position: absolute;
	left: 315px;
	top: 500px;
	visibility: hidden;
}

#insights {
	width: 24%;
	position: absolute;
	right: 0px;
	visibility: hidden;
}

/*----- FOOTER -----*/

footer {
	clear: both;
	text-align: center;
	padding: .5em + .5em;
}

