/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
	-webkit-text-size-adjust: none; 
	overflow: hidden;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
   background-color: #121212;
	font-family: $font-body;
	max-width: 1280px;
   margin: auto;
}


/*-----CONTAINER -----*/
#container {
	background-color: #282828; 
   min-width: 320px;
   height: 710px;
}

/*-----HEADER -----*/
#headerWrapper {
	min-width: 320px;
}
/*-----NAVigation -----*/



/*-----CONTENT -----*/

.container {
	margin: auto;
	max-width: 1280px;
	min-width: 1280px;
	position: relative;
}

#mainLogo {
   width: 24%;
	position: absolute;
	visibility: hidden;
}

#logo {
   @extend #mainLogo;
   width: 70%;
   left: 150px;
}

#thoughts {
	color: white;
	position: absolute;
	left: 315px;
	top: 15px;
	visibility: hidden;
}

#freeBubble1 {
	position: absolute;
	width: 80px;
	left: 335px;
	top: 50px;
	visibility: hidden;
}

#freeBubble2 {
	@extend #freeBubble1;
	left: 440px;
}

#freeBubble3 {
	@extend #freeBubble1;
	left: 545px;
}

#freeBubble4 {
	@extend #freeBubble1;
	left: 650px;
}

#freeBubble5 {
	@extend #freeBubble1;
	left: 755px;
}

#freeBubble6 {
	@extend #freeBubble1;
	left: 860px;
}

#premiumBubble1 {
	@extend #freeBubble1;
   top: 110px;
}

#premiumBubble2 {
	@extend #freeBubble2;
   top: 110px;
}

#premiumBubble3 {
	@extend #freeBubble3;
   top: 110px;
}

#premiumBubble4 {
	@extend #freeBubble4;
   top: 110px;
}

#premiumBubble5 {
	@extend #freeBubble5;
   top: 110px;
}

#premiumBubble6 {
	@extend #freeBubble6;
   top: 110px;
}

#graphs {
	width: 50%;
	position: absolute;
	top: 165px;
	left: 315px;
	visibility: hidden;
}

#events {
	color: white;
	position: absolute;
	left: 315px;
	top: 395px;
	visibility: hidden;
}

#createPlaylist {
	width: 122px;
	position: absolute;
	left: 315px;
	top: 430px;
	visibility: hidden;
}

#addSong {
  @extend #createPlaylist;
  left: 418px; 
}

#rearrangeSong {
   @extend #createPlaylist;
   left: 523px;
}

#deleteSong {
   @extend #createPlaylist;
   left: 624px;
}

#renamePlaylist {
   @extend #createPlaylist;
   left: 729px;
}

#sharePlaylist {
   @extend #createPlaylist;
   left: 832px;
}

#gestures {
	color: white;
	position: absolute;
	left: 315px;
	top: 475px;
	visibility: hidden;
}

#freeGesture1 {
	width: 25px;
	position: absolute;
	left: 366px;
	top: 500px;
	visibility: hidden;
}

#freeGesture2 {
   @extend #freeGesture1;
   left: 448px;
   width: 72px;
}

#freeGesture3 {
   @extend #freeGesture1;
   left: 558px;
   width: 72px;
}

#freeGesture4 {
   @extend #freeGesture1;
   left: 680px;
}

#freeGesture5 {
   @extend #freeGesture1;
   left: 784px;
}

#freeGesture6 {
   @extend #freeGesture1;
   left: 870px;
   width: 72px;
}

#premiumGesture1 {
   @extend #freeGesture1;
   top: 600px;
}

#premiumGesture2 {
   @extend #freeGesture2;
   top: 600px;
   width: 25px;
}

#premiumGesture3 {
   @extend #freeGesture3;
   top: 600px;
   width: 72px;
}

#premiumGesture4 {
   @extend #freeGesture4;
   top: 600px;
}

#premiumGesture5 {
   @extend #freeGesture5;
   top: 600px;
}

#premiumGesture6 {
   @extend #freeGesture6;
   top: 600px;
   width: 72px;
}

#insights {
	width: 24%;
	position: absolute;
	right: 0px;
	visibility: hidden;
}

/*----- FOOTER -----*/

footer {
	clear: both;
	text-align: center;
	padding: .5em + .5em;
}

