/*-----Prevents iPhone from resizing in landscape mode -----*/
html {
	-webkit-text-size-adjust: none; 
	overflow-x: hidden;
   background-image: url('/images/Background (middle section).svg');
   height: 1500px;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
   // background-color: #282828;
	font-family: $font-body;
	max-width: 1280px;
   margin: auto;
}


/*-----CONTAINER -----*/
#container {
}

/*-----HEADER -----*/
#headerWrapper {
	min-width: 320px;
}
/*-----NAVigation -----*/



/*-----CONTENT -----*/

.container {
	margin: auto;
	max-width: 1280px;
	min-width: 1280px;
   height: 710px;
	position: relative;
}

#mainLogo {
   width: 24%;
	position: absolute;
	visibility: hidden;
}

#logo {
   @extend #mainLogo;
   width: 70%;
   left: 150px;
}

#scrollTest {
   visibility: hidden;

   img {
      width: 30%;
   }
}


#thoughts {
	position: absolute;
	left: 320px;
	top: 30px;
	visibility: hidden;
   width: 640px;
}

#freeBubble1 {
	position: absolute;
	width: 95px;
	left: 340px;
	top: 70px;
	visibility: hidden;
}

#freeBubble2 {
	@extend #freeBubble1;
	left: 445px;
}

#freeBubble3 {
	@extend #freeBubble1;
	left: 550px;
}

#freeBubble4 {
	@extend #freeBubble1;
	left: 655px;
}

#freeBubble5 {
	@extend #freeBubble1;
	left: 760px;
}

#freeBubble6 {
	@extend #freeBubble1;
	left: 865px;
}

#premiumBubble1 {
	@extend #freeBubble1;
   top: 130px;
}

#premiumBubble2 {
	@extend #freeBubble2;
   top: 130px;
}

#premiumBubble3 {
	@extend #freeBubble3;
   top: 130px;
}

#premiumBubble4 {
	@extend #freeBubble4;
   top: 130px;
}

#premiumBubble5 {
	@extend #freeBubble5;
   top: 130px;
}

#premiumBubble6 {
	@extend #freeBubble6;
   top: 130px;
}

#graphs {
	width: 50%;
	position: absolute;
	top: 185px;
	left: 320px;
	visibility: hidden;
}

#events {
	position: absolute;
	left: 320px;
	top: 430px;
	visibility: hidden;
   width: 640px;
}

#createPlaylist {
	width: 122px;
	position: absolute;
	left: 320px;
	top: 465px;
	visibility: hidden;
}

#addSong {
  @extend #createPlaylist;
  left: 423px; 
}

#rearrangeSong {
   @extend #createPlaylist;
   left: 528px;
}

#deleteSong {
   @extend #createPlaylist;
   left: 629px;
}

#renamePlaylist {
   @extend #createPlaylist;
   left: 734px;
}

#sharePlaylist {
   @extend #createPlaylist;
   left: 837px;
}

#gestures {
	position: absolute;
	left: 320px;
	top: 510px;
	visibility: hidden;
   width: 640px;
}

#freeGesture1 {
	width: 25px;
	position: absolute;
	left: 371px;
	top: 540px;
	visibility: hidden;
}

#freeGesture2 {
   @extend #freeGesture1;
   left: 453px;
   width: 80px;
}

#freeGesture3 {
   @extend #freeGesture1;
   left: 563px;
   width: 80px;
}

#freeGesture4 {
   @extend #freeGesture1;
   left: 685px;
}

#freeGesture5 {
   @extend #freeGesture1;
   left: 789px;
}

#freeGesture6 {
   @extend #freeGesture1;
   left: 875px;
   width: 80px;
}

#premiumGesture1 {
   @extend #freeGesture1;
   top: 620px;
}

#premiumGesture2 {
   @extend #freeGesture2;
   top: 620px;
   width: 25px;
   left: 475px;
}

#premiumGesture3 {
   @extend #freeGesture3;
   top: 620px;
   width: 80px;
}

#premiumGesture4 {
   @extend #freeGesture4;
   top: 620px;
}

#premiumGesture5 {
   @extend #freeGesture5;
   top: 620px;
}

#premiumGesture6 {
   @extend #freeGesture6;
   top: 620px;
   width: 80px;
}

#insights {
	width: 24%;
	position: absolute;
	right: 0px;
	visibility: hidden;
}

/*----- FOOTER -----*/

footer {
	clear: both;
	text-align: center;
	padding: .5em + .5em;
}

